@import 'styles/variaveis';

.populares {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
    color: $roxo;
    font-family: $fonte-normal;
    font-size: 16px;

    h2 {
        margin-top: 5.3rem;

        @media (max-width: 600px) {
            margin-top: 0;
        }
    }

    &__imagens {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 77%;
        padding: 0;
        list-style: none;

        @media (max-width: 1000px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 1em;
            height: auto;
        }

        @media (max-width: 600px) {
            li {
                width: 100%;
                height: auto;
            }
        }

        img {
            width: 150px;
            height: 100px;

            @media (max-width: 1000px) {
                min-width: 300px;
                height: auto;
            }

            @media (max-width: 600px) {
                width: 100%;
            }
        }
    }
}